<div>
  <div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.png') %>);">
    <div class="container">
      <h1>My Movie Lists</h1>
      <p>Save any kind of movies here!</p>
      <%= render "lists/form", list: @new_list %>
    </div>
  </div>
  <div class="w-75 m-auto">
    <div class="cards">
      <% @lists.each do |list| %>
          <div class="card-category"
           style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
           url('<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path("old_movies.png") %>')">
            <%= link_to list.name.titleize, list_path(list), class: "text-white link-underline-light link-underline-opacity-0 link-underline-opacity-50-hover" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
