<div>
  <h1>My Movie Lists</h1>
  <div class="cards">
    <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("old_movies.png") %>')">
          <%= link_to list.name, list_path(list), class: "text-white link-underline-light link-underline-opacity-0 link-underline-opacity-50-hover" %>
        </div>
    <% end %>
  </div>
</div>
