.movie-cards {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 16px;
}

.card-movie {
  background-size: cover;
  background-position: center;
  color: rgb(13, 12, 12);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.movie-overview {
  display: -webkit-box;
  -webkit-line-clamp: 3; // 显示 3 行
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .movie-cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .movie-cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .movie-cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .movie-cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .movie-cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }
